
<!-- {{cardDetails}} -->
<mat-card class="example-card">
  <mat-card-header>

    <img  src="https://www.google.com/s2/favicons?domain={{Url}}" mat-card-avatar  class="example-header-image">

    <mat-card-title><a href="{{Url}}" target="_blank">{{Title}}</a></mat-card-title>
    <mat-card-subtitle><a href="{{Url}}" target="_blank">{{Url}}</a></mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>
   {{Description}}
    </p>
  </mat-card-content>

  <mat-card-footer class ="icons">
    <mat-chip-list class ="l">
      <mat-chip>
 <i class="material-icons">collections</i><font>{{imageCount}}</font>
 </mat-chip>
<mat-chip>
 <i class="material-icons">videocam</i> <font>{{videoCount}}</font>
 </mat-chip>
 <mat-chip><i class="material-icons">code</i><font>{{codeCount}}</font></mat-chip>
 </mat-chip-list>
  </mat-card-footer>
</mat-card>


<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
